:root {
  color-scheme: dark;
}

body {
  padding: 20px;
  font-size: 25px;
}

.cliStatus.disconnected {
  color: red;
}

.bigBTN {
  padding: 10px 15px 6px;
  color: black;
  float: right;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.addBTN {
  background-color: rgb(40, 247, 40);
  border-color: rgb(40, 247, 40);
  padding: 10px 15px 6px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
}

.full {
  display: none;
}

.cliStatus.connected {
  color: green;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.on {
  background-color: green;
}

.testerz {
  margin-left: 20px;
}

.testerz th{
  min-width: 180px;
}

.testerz td{
  min-width: 60px;
}

.testerz th, .testerz td {
  padding: 5px;
  border: 1px solid #666;
}

.ctrls #add-device {
  margin: 0px;
  padding: 2px;
  border-radius: 0px;
  border: 1px solid black;
  cursor: pointer;
}

.hyper-widget {
  color:black;
}